In [8]:
my_list = [1,2,3,4,5]

p = list(map(lambda x:x**2, my_list))

In [9]:
p

[1, 4, 9, 16, 25]

# Sequences

## Sequence types
- sequences need to have positional ordering
- list is a sequence type but set isn't
- Built - in sequence types:
1. mutable: `list`, bytearrays
2. immutable: `tuple`, `string`, `range`, bytes
3. Additional standard types: colllections packages- `namedtuple`, `deque`
- array module

- Homogeneus sequences and hetrogeneous
-  a container type of object and we can list out the elements in that object one by one is `iterable`
- set is iterable but its not a sequance type.
- Standard supported methods
<t> - x in l
<t> - x not in l, s1+s2, max(s), min(s), len(s), s*n

#### Things to keep in mind about concatenation
- concatenation of immutable object is fine, it creates the copy of the object in other memory address and then cancatenates
- Incase of mutable objects, the same object (with the same id) is concatenated, and hence, when the object is mutated it also affects the concatenated object.

In [11]:
l = [1,23,34]
t = 1,2,3
s = 'python'

In [12]:
for c in s:
    print(c)

p
y
t
h
o
n

In [15]:
't' in s
st = {6,7,8,9}

In [16]:
len(t), len(s), len(st)

(3, 6, 4)

In [17]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [21]:
'abc' + ["d","e","f"]

TypeError: can only concatenate str (not "list") to str

In [22]:
list('abc')+ ['d','e','f']

['a', 'b', 'c', 'd', 'e', 'f']

In [23]:
'***'.join(['1','2','3'])

'1***2***3'

In [1]:
s  =  "gnu's not unix"

In [2]:
p = enumerate(s)

In [3]:
p

In [4]:
list(p)

[(0, 'g'),
 (1, 'n'),
 (2, 'u'),
 (3, "'"),
 (4, 's'),
 (5, ' '),
 (6, 'n'),
 (7, 'o'),
 (8, 't'),
 (9, ' '),
 (10, 'u'),
 (11, 'n'),
 (12, 'i'),
 (13, 'x')]

In [5]:
s.index('n')

1

In [6]:
s.index('n', 1)

1

In [7]:
s.index('n', 2)

6

In [10]:
s.index('n',7)

11

In [11]:
s.index('z')

ValueError: substring not found

In [12]:
s.index('n',12)

ValueError: substring not found

In [13]:
s= 'python'
l = [1,2,3,4,5,6,7,8,9,10]

In [14]:
s[1:4]

'yth'

In [15]:
l[1:4]

[2, 3, 4]

In [16]:
s[5:100]

'n'

In [17]:
s[:4]

'pyth'

In [18]:
s[2:]

'thon'

In [20]:

l2= l[:]

In [21]:
id(l), id(l2), l is l2

(4410422016, 4484590080, False)

In [22]:
s[5:0:-1]

'nohty'

In [23]:
s[::-1]

'nohtyp'

In [24]:
l[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
l[::-2]

[10, 8, 6, 4, 2]

### Caveats

In [26]:
from decimal import Decimal

In [27]:
a = Decimal(10.5)
b = Decimal(10.5)

In [28]:
id(a), id(b), a==b, a is b

(4484433040, 4484433152, True, False)

In [29]:
id(a)

4484433040

In [33]:
l = [Decimal(10.5)]

In [34]:
id(l)

4485153920

In [35]:
l2 = l*2

In [36]:
l2

[Decimal('10.5'), Decimal('10.5')]

In [41]:
id(l2[0]), id(l2[1]), id(l[0])

(4484434608, 4484434608, 4484434608)

## Mutating object
- Concatenation isn't mutation of object
- while concatenation, new object ius created and the objects are copied there

- Mutation is when the same object is modified
- Mutation can be achieved by using []

### Some methods supported by the mutable sequence type such as a list

- `s.clear()` removes all item from s
- `s.clear()` removes all items from s
- `s.insert(i, x)` inserts x at index i
- `s.pop(i)` removes and returns element at index i
- `s.remove(x)` removes the first occurrence of x in s
- `s.reverse()` does an in-place reversal of elements of s
- `s.copy()` returns a shallow copy

In [42]:
l = [1,23,4]

In [43]:
id(l)

4485089472

In [44]:
l.clear()

In [45]:
l

[]

In [46]:
id(l
   )

4485089472

In [49]:
l = [1,2,3,4,5,6,7]

In [50]:
id(l)

4485308480

In [54]:
l[0:2] = ('a','b','c','d')[0:2]

In [55]:
id(l)

4485308480

In [56]:
l

['a', 'b', 'c', 'd', 3, 4, 5, 6, 7]

In [57]:
l = [1,2,3,4,5,6,6]

In [58]:
l2= l[:4]

In [60]:
id(l), id(l2), id(l[0]), id(l2[0])

(4485199488, 4485198016, 4364937520, 4364937520)

- Obnject recieved as the result of slicing is a completely new object
- However the id the object that are copied are copied by theid itself. So they are same as before
- Same thing happens when the `.copy()` method is used

In [61]:
l3 = l.copy()

In [62]:
id(l3),id(l),id(l[0]), id(l3[0])

(4485088896, 4485199488, 4364937520, 4364937520)

## Lists vs Tuples
- Constant folding -> Constant folding is the process of recognizing and evaluating constant expression at the compile time than evaluating them at run time

In [63]:
from dis import dis

In [64]:
dis(compile("(1,2,3,4,'a')", 'string', 'eval'))

  1           0 LOAD_CONST               0 ((1, 2, 3, 4, 'a'))
              2 RETURN_VALUE

In [65]:
dis(compile("[1,2,3,4,'a']", 'string', 'eval'))

  1           0 BUILD_LIST               0
              2 LOAD_CONST               0 ((1, 2, 3, 4, 'a'))
              4 LIST_EXTEND              1
              6 RETURN_VALUE

In [66]:
dis(compile("(1,2,3,4,[a])", 'string', 'eval'))

  1           0 LOAD_CONST               0 (1)
              2 LOAD_CONST               1 (2)
              4 LOAD_CONST               2 (3)
              6 LOAD_CONST               3 (4)
              8 LOAD_NAME                0 (a)
             10 BUILD_LIST               1
             12 BUILD_TUPLE              5
             14 RETURN_VALUE

In [67]:
from timeit import timeit

In [69]:
timeit('(1,2,3,4,5,6,7,8,9,10)', number=10_00_000)

0.006129999999757274

In [70]:
timeit('[1,2,3,4,5,6,7,8,9,10]', number=10_00_000)

0.04230683300011151

In [71]:
dis(compile("(1,2,3,4,[a,b])", 'string', 'eval'))

  1           0 LOAD_CONST               0 (1)
              2 LOAD_CONST               1 (2)
              4 LOAD_CONST               2 (3)
              6 LOAD_CONST               3 (4)
              8 LOAD_NAME                0 (a)
             10 LOAD_NAME                1 (b)
             12 BUILD_LIST               2
             14 BUILD_TUPLE              5
             16 RETURN_VALUE

In [72]:
dis(compile("[1,2,3,4,[a,b]]", 'string', 'eval'))

  1           0 LOAD_CONST               0 (1)
              2 LOAD_CONST               1 (2)
              4 LOAD_CONST               2 (3)
              6 LOAD_CONST               3 (4)
              8 LOAD_NAME                0 (a)
             10 LOAD_NAME                1 (b)
             12 BUILD_LIST               2
             14 BUILD_LIST               5
             16 RETURN_VALUE

In [73]:
timeit("[1,2,3,4,[1,2]]", number=10_00_000)

0.07183945800079528

In [74]:
timeit("(1,2,3,4,[1,2])", number=10_00_000)

0.05504958299934515

In [78]:
t =1,2,3,4,5,6,7,8,9

In [79]:
l =[1,2,3,4,5,6,7,8,9]

In [80]:
id(l), id(t)

(4410208512, 4485752384)

In [82]:
# Assignment operation on list creates the "shallow" copy of same l;ist at diff. memory address

z = list(l)
id(z), id(l)

(4484640384, 4410208512)

In [84]:
# Its not in the case of tuoples, coz it makes no sense in making the copyb of an immutable object

y = tuple(t)
id(y), id(t)

(4485752384, 4485752384)

In [85]:
timeit('tuple((1,2,3,4,5,6,7,8,9))', number=1000000)

0.0323182080001061

In [86]:
timeit('list((1,2,3,4,5,6,7,8,9))', number=1000000)

0.07896520900067117